{% extends "layout.html" %}

{% block title %}
Chai Page Learning
{% endblock title %}

{% block content %}
<h1>All Chai for you mansi</h1>
<div class="grid grid-cols-3 gap-4 m-2">

{% for chai in chai_varities %}
    <div class="chai-items">
        <img class="rounded border-4 p-10" src="{{chai.image.url}}" alt="">
        <p class="text-2xl font-bold">{{chai.name}}</p>
        <a href="{% url 'detail' chai.id %}">
            <button type="button" class="items-center justify-center border text-sm font-medium rounded-md bg-orange-500 hover:bg-orange-700 inline-flex focus:outline-none focus:ring-2 w-20 text-yellow-300">
                {{chai.type}} - {{chai.id}}
            </button>
        </a>
    </div>
{% endfor %}

</div>
{% endblock content %}

